@CHARSET "ISO-8859-1";
html {
	height: 100%;
	background-image: url("#{resource['images:bg.jpg']}");
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	height: 100%;
	margin: 0px;
}

#header {
	text-align: center;
	border-bottom: solid;
}

#footer {
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#navigation {
	float: left;
	height: 100%;
	border-right: solid;
}

#content-title {
	font-size: large;
	font-weight: bold;
}

#content {
	float: left;	
}

.address {
	white-space: pre;
}

.error-message {
	color: red;
}